@import './animation.scss';


:root {
    --primary: #fea323;
    --secondary: #171717;
    --tertiary: #5b5253;
}
::selection {
    background-color: var(--tertiary);
}
.colored {
    color: var(--primary);
    &-lower {
        color: #605c5b;
    }
}

section {
    height: 100vh;
    font-family: 'Pathway Extreme';
    .block-calculator {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 438px;
            height: 405px;
            background-color: var(--primary);
            z-index: -1;
            border-radius: 66px 66px 0 0;
            
        }
        &::after {
            content: "Calculator";
            font-size: 4rem;
            position: absolute;
            top: 0;
            color: var(--primary);
            z-index: -1;
            font-family: 'Dancing Script';
            -webkit-animation: text-shadow-pop-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-shadow-pop-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        &__int {
            width: 237px;
            height: 498px;
            border: 10px solid var(--secondary);
            border-radius: 41px;
            background-color: #302929;
            box-shadow: 0px 4px 5px 3px #0000007d;
            display: flex;
            flex-direction: column;
            -webkit-animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            &-top {
                font-size: 9px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                padding: 10px 25px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60%;
                    height: 19px;
                    background-color: #000;
                    z-index: 1;
                    border-radius: 0 0 66px 66px;
                }
                &-time {
    
                }
                &-network-group {
                    .cloche {
                        font-size: .9rem;
                        position: absolute;
                        top: 0;
                        right: 18px;
                        &:hover {
                          transform: rotate(20deg);  
                        }
                    }
                }
            }
            &-between {
                color: #605c5b;
                line-height: 1.5;
                font-size: 18px;
                text-align: right;
                padding: 4px 12px;
            }
            &-main {
                flex: 1;
                &-top {
                    background-color: #3f3637;
                    height: 92%;
                    border-radius: 22px 22px 33px 33px;
                    padding: 13px 16px;
                    margin-top: 8px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 5px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 41%;
                        height: 3px;
                        background-color: #605c5b;
                        z-index: 1;
                        border-radius: 10px;
                    }
                    &_operation {
                        text-align: right;
                    }
                    &_result {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 42px;
                        .equal {

                        }
                        .value-result {
                            font-size: 42px;
                            width: 100%;
                            text-align: right;
                            background-color: transparent;
                            border: none;
                            color: #fff;
                            font-family: "Pathway Extreme";
                        }
                    }
                }
                &-content {
                    &_int {
                        display: flex;
                        flex-flow: wrap;
                        column-gap: 15px;
                        row-gap: 15px;
                        padding-top: 14px;
                        .item {
                            width: 40px;
                            height: 40px;
                            background-color: #463f3f;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4901960784);
                            transition: all 5s ease;
                            border: 0;
                            color: #fff;
                            font-family: "Pathway Extreme";
                            font-size: 1rem;
                            &:first-child,
                            &:nth-child(2),
                            &:nth-child(3) {
                                background-color: var(--tertiary);
                            }
                            &:nth-child(4),
                            &:nth-child(8),
                            &:nth-child(12),
                            &:nth-child(16),
                            &:nth-child(20) {
                                background-color: var(--primary);
                            }
                            &:hover {
                                box-shadow: inset 0px -1px 2px 1px #0000007d;
                                cursor: pointer;
                            }
                            span {
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
